*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.svn/*
/.svn/pristine/00/*.svn-base
/.svn/pristine/01/*.svn-base
/.svn/pristine/02/*.svn-base
/.svn/pristine/03/*.svn-base
/.svn/pristine/04/*.svn-base
/.svn/pristine/05/*.svn-base
/.svn/pristine/06/*.svn-base
/.svn/pristine/07/*.svn-base
/.svn/pristine/08/*.svn-base
/.svn/pristine/09/*.svn-base
/.svn/pristine/0a/*.svn-base
/.svn/pristine/0b/*.svn-base
/.svn/pristine/0c/*.svn-base
/.svn/pristine/0d/*.svn-base
/.svn/pristine/0e/*.svn-base
/.svn/pristine/0f/*.svn-base
/.svn/pristine/10/*.svn-base
/.svn/pristine/11/*.svn-base
/.svn/pristine/12/*.svn-base
/.svn/pristine/13/*.svn-base
/.svn/pristine/14/*.svn-base
/.svn/pristine/15/*.svn-base
/.svn/pristine/16/*.svn-base
/.svn/pristine/17/*.svn-base
/.svn/pristine/18/*.svn-base
/.svn/pristine/19/*.svn-base
/.svn/pristine/1a/*.svn-base
/.svn/pristine/1b/*.svn-base
/.svn/pristine/1c/*.svn-base
/.svn/pristine/1d/*.svn-base
/.svn/pristine/1e/*.svn-base
/.svn/pristine/1f/*.svn-base
/.svn/pristine/20/*.svn-base
/.svn/pristine/21/*.svn-base
/.svn/pristine/22/*.svn-base
/.svn/pristine/23/*.svn-base
/.svn/pristine/24/*.svn-base
/.svn/pristine/25/*.svn-base
/.svn/pristine/26/*.svn-base
/.svn/pristine/27/*.svn-base
/.svn/pristine/28/*.svn-base
/.svn/pristine/29/*.svn-base
/.svn/pristine/2a/*.svn-base
/.svn/pristine/2b/*.svn-base
/.svn/pristine/2c/*.svn-base
/.svn/pristine/2d/*.svn-base
/.svn/pristine/2e/*.svn-base
/.svn/pristine/2f/*.svn-base
/.svn/pristine/30/*.svn-base
/.svn/pristine/31/*.svn-base
/.svn/pristine/32/*.svn-base
/.svn/pristine/33/*.svn-base
/.svn/pristine/34/*.svn-base
/.svn/pristine/35/*.svn-base
/.svn/pristine/36/*.svn-base
/.svn/pristine/37/*.svn-base
/.svn/pristine/38/*.svn-base
/.svn/pristine/39/*.svn-base
/.svn/pristine/3a/*.svn-base
/.svn/pristine/3b/*.svn-base
/.svn/pristine/3c/*.svn-base
/.svn/pristine/3d/*.svn-base
/.svn/pristine/3e/*.svn-base
/.svn/pristine/3f/*.svn-base
/.svn/pristine/40/*.svn-base
/.svn/pristine/41/*.svn-base
/.svn/pristine/42/*.svn-base
/.svn/pristine/43/*.svn-base
/.svn/pristine/44/*.svn-base
/.svn/pristine/45/*.svn-base
/.svn/pristine/46/*.svn-base
/.svn/pristine/47/*.svn-base
/.svn/pristine/48/*.svn-base
/.svn/pristine/49/*.svn-base
/.svn/pristine/4a/*.svn-base
/.svn/pristine/4b/*.svn-base
/.svn/pristine/4c/*.svn-base
/.svn/pristine/4d/*.svn-base
/.svn/pristine/4e/*.svn-base
/.svn/pristine/4f/*.svn-base
/.svn/pristine/50/*.svn-base
/.svn/pristine/51/*.svn-base
/.svn/pristine/52/*.svn-base
/.svn/pristine/53/*.svn-base
/.svn/pristine/54/*.svn-base
/.svn/pristine/55/*.svn-base
/.svn/pristine/56/*.svn-base
/.svn/pristine/57/*.svn-base
/.svn/pristine/58/*.svn-base
/.svn/pristine/59/*.svn-base
/.svn/pristine/5a/*.svn-base
/.svn/pristine/5b/*.svn-base
/.svn/pristine/5c/*.svn-base
/.svn/pristine/5d/*.svn-base
/.svn/pristine/5e/*.svn-base
/.svn/pristine/5f/*.svn-base
/.svn/pristine/60/*.svn-base
/.svn/pristine/61/*.svn-base
/.svn/pristine/62/*.svn-base
/.svn/pristine/64/*.svn-base
/.svn/pristine/65/*.svn-base
/.svn/pristine/66/*.svn-base
/.svn/pristine/67/*.svn-base
/.svn/pristine/68/*.svn-base
/.svn/pristine/69/*.svn-base
/.svn/pristine/6a/*.svn-base
/.svn/pristine/6b/*.svn-base
/.svn/pristine/6c/*.svn-base
/.svn/pristine/6d/*.svn-base
/.svn/pristine/6e/*.svn-base
/.svn/pristine/6f/*.svn-base
/.svn/pristine/70/*.svn-base
/.svn/pristine/71/*.svn-base
/.svn/pristine/72/*.svn-base
/.svn/pristine/73/*.svn-base
/.svn/pristine/74/*.svn-base
/.svn/pristine/75/*.svn-base
/.svn/pristine/76/*.svn-base
/.svn/pristine/77/*.svn-base
/.svn/pristine/78/*.svn-base
/.svn/pristine/79/*.svn-base
/.svn/pristine/7a/*.svn-base
/.svn/pristine/7b/*.svn-base
/.svn/pristine/7c/*.svn-base
/.svn/pristine/7d/*.svn-base
/.svn/pristine/7e/*.svn-base
/.svn/pristine/7f/*.svn-base
/.svn/pristine/80/*.svn-base
/.svn/pristine/81/*.svn-base
/.svn/pristine/82/*.svn-base
/.svn/pristine/83/*.svn-base
/.svn/pristine/84/*.svn-base
/.svn/pristine/85/*.svn-base
/.svn/pristine/86/*.svn-base
/.svn/pristine/87/*.svn-base
/.svn/pristine/88/*.svn-base
/.svn/pristine/89/*.svn-base
/.svn/pristine/8a/*.svn-base
/.svn/pristine/8b/*.svn-base
/.svn/pristine/8c/*.svn-base
/.svn/pristine/8d/*.svn-base
/.svn/pristine/8e/*.svn-base
/.svn/pristine/8f/*.svn-base
/.svn/pristine/90/*.svn-base
/.svn/pristine/91/*.svn-base
/.svn/pristine/92/*.svn-base
/.svn/pristine/93/*.svn-base
/.svn/pristine/94/*.svn-base
/.svn/pristine/95/*.svn-base
/.svn/pristine/96/*.svn-base
/.svn/pristine/97/*.svn-base
/.svn/pristine/98/*.svn-base
/.svn/pristine/99/*.svn-base
/.svn/pristine/9a/*.svn-base
/.svn/pristine/9b/*.svn-base
/.svn/pristine/9c/*.svn-base
/.svn/pristine/9d/*.svn-base
/.svn/pristine/9e/*.svn-base
/.svn/pristine/9f/*.svn-base
/.svn/pristine/a0/*.svn-base
/.svn/pristine/a1/*.svn-base
/.svn/pristine/a2/*.svn-base
/.svn/pristine/a3/*.svn-base
/.svn/pristine/a4/*.svn-base
/.svn/pristine/a5/*.svn-base
/.svn/pristine/a6/*.svn-base
/.svn/pristine/a7/*.svn-base
/.svn/pristine/a8/*.svn-base
/.svn/pristine/a9/*.svn-base
/.svn/pristine/ab/*.svn-base
/.svn/pristine/ac/*.svn-base
/.svn/pristine/ad/*.svn-base
/.svn/pristine/ae/*.svn-base
/.svn/pristine/af/*.svn-base
/.svn/pristine/b0/*.svn-base
/.svn/pristine/b1/*.svn-base
/.svn/pristine/b2/*.svn-base
/.svn/pristine/b3/*.svn-base
/.svn/pristine/b4/*.svn-base
/.svn/pristine/b5/*.svn-base
/.svn/pristine/b6/*.svn-base
/.svn/pristine/b7/*.svn-base
/.svn/pristine/b8/*.svn-base
/.svn/pristine/b9/*.svn-base
/.svn/pristine/ba/*.svn-base
/.svn/pristine/bb/*.svn-base
/.svn/pristine/bc/*.svn-base
/.svn/pristine/bd/*.svn-base
/.svn/pristine/be/*.svn-base
/.svn/pristine/bf/*.svn-base
/.svn/pristine/c0/*.svn-base
/.svn/pristine/c1/*.svn-base
/.svn/pristine/c2/*.svn-base
/.svn/pristine/c3/*.svn-base
/.svn/pristine/c4/*.svn-base
/.svn/pristine/c5/*.svn-base
/.svn/pristine/c6/*.svn-base
/.svn/pristine/c7/*.svn-base
/.svn/pristine/c8/*.svn-base
/.svn/pristine/c9/*.svn-base
/.svn/pristine/ca/*.svn-base
/.svn/pristine/cb/*.svn-base
/.svn/pristine/cc/*.svn-base
/.svn/pristine/cd/*.svn-base
/.svn/pristine/ce/*.svn-base
/.svn/pristine/cf/*.svn-base
/.svn/pristine/d0/*.svn-base
/.svn/pristine/d1/*.svn-base
/.svn/pristine/d2/*.svn-base
/.svn/pristine/d3/*.svn-base
/.svn/pristine/d4/*.svn-base
/.svn/pristine/d5/*.svn-base
/.svn/pristine/d6/*.svn-base
/.svn/pristine/d7/*.svn-base
/.svn/pristine/d8/*.svn-base
/.svn/pristine/d9/*.svn-base
/.svn/pristine/da/*.svn-base
/.svn/pristine/db/*.svn-base
/.svn/pristine/dc/*.svn-base
/.svn/pristine/dd/*.svn-base
/.svn/pristine/de/*.svn-base
/.svn/pristine/df/*.svn-base
/.svn/pristine/e0/*.svn-base
/.svn/pristine/e1/*.svn-base
/.svn/pristine/e2/*.svn-base
/.svn/pristine/e3/*.svn-base
/.svn/pristine/e4/*.svn-base
/.svn/pristine/e5/*.svn-base
/.svn/pristine/e6/*.svn-base
/.svn/pristine/e7/*.svn-base
/.svn/pristine/e8/*.svn-base
/.svn/pristine/e9/*.svn-base
/.svn/pristine/ea/*.svn-base
/.svn/pristine/eb/*.svn-base
/.svn/pristine/ec/*.svn-base
/.svn/pristine/ed/*.svn-base
/.svn/pristine/ee/*.svn-base
/.svn/pristine/ef/*.svn-base
/.svn/pristine/f0/*.svn-base
/.svn/pristine/f1/*.svn-base
/.svn/pristine/f2/*.svn-base
/.svn/pristine/f3/*.svn-base
/.svn/pristine/f4/*.svn-base
/.svn/pristine/f5/*.svn-base
/.svn/pristine/f6/*.svn-base
/.svn/pristine/f7/*.svn-base
/.svn/pristine/f8/*.svn-base
/.svn/pristine/f9/*.svn-base
/.svn/pristine/fa/*.svn-base
/.svn/pristine/fb/*.svn-base
/.svn/pristine/fc/*.svn-base
/.svn/pristine/fd/*.svn-base
/.svn/pristine/fe/*.svn-base
/.svn/pristine/ff/*.svn-base
/.svn/*.db
/.svn/*.db-journal
